.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.auth-card {
  background: white;
  width: 340px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.12);
}

.auth-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.auth-btn:hover {
  background: #1e40af;
}

.auth-footer {
  text-align: center;
  margin-top: 12px;
}

.auth-link {
  color: #2563eb;
  cursor: pointer;
}
